# Hurricane Season Analysis

## Data Gathering

### Pseudocode
1.  import dependencies
2.  get csv file
3.  read csv file into pandas
4.  display
5.  cleanup/delete unnecessary columns

In [1]:
import pandas as pd
from datetime import datetime, timedelta
import csv
file = "hurricane_data.csv"

In [2]:
# Add headerrow containing storm id and storm name to data rows and create list
hurricane_data = []

storm_id = "0000000"
storm_name = "UNNAMED"
with open(file) as hurricane_file:
    hurricane_reader = csv.reader(hurricane_file)
    next(hurricane_reader, None) 
    for row in hurricane_reader:
                if 'AL' in row[0]: 
                    storm_id = row[0].strip()
                    storm_name = row[1].strip()
#                     print(f'{storm_id}: {storm_name}')
                else:
                    oldformat = row[0]+row[1]
                    datetimeobject = datetime.strptime(oldformat,'%Y%m%d %H%M%S')
                    date = datetimeobject.strftime('%m-%d-%Y %H%M%S')
                    year = row[0][:4]
                    landfall = row[2].strip()
                    status = row[3].strip()
                    latitude = row[4].strip()
                    longitude = row[5].strip()
                    wind = row[6].strip()
                    pressure = row[7].strip()
                hurricane_data.append(
                    {
                        "Storm_Id": storm_id, 
                        "Name": storm_name,
                        "Date": date,
                        "Year": year,
                        "Landfall": landfall,
                        "Status" : status,
                        "Latitude" : latitude,
                        "Longitude" : longitude,
                        "Windspeed" : wind,
                        "Pressure" : pressure
                    }
                )

In [3]:
# Create Dataframe and reorder columns
hurricane_pd = pd.DataFrame(hurricane_data)
hurricane_pd = hurricane_pd.loc[:, ["Storm_Id", "Name", "Date", "Year", "Status", "Latitude",
                                    "Longitude", "Windspeed", "Pressure", "Landfall"]]
hurricane_pd.head()

,Storm_Id,Name,Date,Year,Status,Latitude,Longitude,Windspeed,Pressure,Landfall
0,0000000,UNNAMED,06-25-1851 000000,1851,HU,28.0N,94.8W,80,-999,
1,0000000,UNNAMED,06-25-1851 060000,1851,HU,28.0N,95.4W,80,-999,
2,0000000,UNNAMED,06-25-1851 120000,1851,HU,28.0N,96.0W,80,-999,
3,0000000,UNNAMED,06-25-1851 180000,1851,HU,28.1N,96.5W,80,-999,
4,0000000,UNNAMED,06-25-1851 210000,1851,HU,28.2N,96.8W,80,-999,L

# Data Cleanup

### Pseudocode
1. Check column counts for missing data
2. Check/Change column types for type conversion
3. Limit data to only the past 15 years, only Hurricanes and Tropical Storms, and only named storms
4. Get min date (when storm became Tropical Storm) and Max Date (When storm is no longer a tropical storm)
5. Calculate the duration of storm
6. Find nearest city for storms tha reached landfall
7. Get max windspeed row and return all columns
8. Categorize storms according to Saffir-Simpson scale https://en.wikipedia.org/wiki/Maximum_sustained_wind

In [4]:
#Check column counts for missing data
hurricane_pd.count()

Storm_Id     52150
Name         52150
Date         52150
Year         52150
Status       52150
Latitude     52150
Longitude    52150
Windspeed    52150
Pressure     52150
Landfall     52150
dtype: int64

In [5]:
#Check column types for needed type conversions
hurricane_pd.dtypes

Storm_Id     object
Name         object
Date         object
Year         object
Status       object
Latitude     object
Longitude    object
Windspeed    object
Pressure     object
Landfall     object
dtype: object

In [6]:
#Change types for Windspeed and Pressure to numerice and Date to Datetime
hurricane_pd['Windspeed'] = pd.to_numeric(hurricane_pd['Windspeed'])
hurricane_pd['Pressure'] = pd.to_numeric(hurricane_pd['Pressure'])
hurricane_pd['Date'] = pd.to_datetime(hurricane_pd['Date'])
hurricane_pd.dtypes

Storm_Id             object
Name                 object
Date         datetime64[ns]
Year                 object
Status               object
Latitude             object
Longitude            object
Windspeed             int64
Pressure              int64
Landfall             object
dtype: object

In [19]:
#Limit data to only the past 15 years, 
# only Hurricanes and Tropical Storms, and 
# only named storms

hurricane_df_clean = hurricane_pd.loc[hurricane_pd["Year"] > "2002"]
hurricane_df_clean = hurricane_df_clean.loc[hurricane_df_clean['Status'].isin(['TS','HU'])]
hurricane_df_clean = hurricane_df_clean.loc[hurricane_df_clean['Name'] != "UNNAMED"]
hurricane_df_clean.head()

,Storm_Id,Name,Date,Year,Status,Latitude,Longitude,Windspeed,Pressure,Landfall
44120,AL012003,ANA,2003-04-21 00:00:00,2003,TS,31.4N,66.4W,50,995,
44121,AL012003,ANA,2003-04-21 06:00:00,2003,TS,30.6N,65.8W,50,995,
44122,AL012003,ANA,2003-04-21 12:00:00,2003,TS,30.0N,64.8W,50,995,
44123,AL012003,ANA,2003-04-21 18:00:00,2003,TS,29.4N,63.1W,50,994,
44124,AL012003,ANA,2003-04-22 00:00:00,2003,TS,29.4N,61.5W,50,994,

In [8]:
#Get min date (when storm became Tropical Storm) and Max Date (When storm is no longer a tropical storm)
#Calculate the duration

storm_gb = hurricane_df_clean.groupby('Storm_Id')
storm_sgb = storm_gb['Date']
start_date = storm_sgb.min()
end_date = storm_sgb.max()
duration = end_date - start_date

In [9]:
#Merge Start Date, End Date, and Duration to original dataframe. 
start_end_df = pd.DataFrame({"Start Date": start_date
                             ,"End Date": end_date
                             ,"Duration" : duration
                            }).reset_index()

merge_df = pd.merge(hurricane_df_clean, start_end_df, how="outer", on="Storm_Id")

merge_df.head(100)

,Storm_Id,Name,Date,Year,Status,Latitude,Longitude,Windspeed,Pressure,Landfall,Duration,End Date,Start Date
0,AL012003,ANA,2003-04-21 00:00:00,2003,TS,31.4N,66.4W,50,995,,3 days 00:00:00,2003-04-24 00:00:00,2003-04-21 00:00:00
1,AL012003,ANA,2003-04-21 06:00:00,2003,TS,30.6N,65.8W,50,995,,3 days 00:00:00,2003-04-24 00:00:00,2003-04-21 00:00:00
2,AL012003,ANA,2003-04-21 12:00:00,2003,TS,30.0N,64.8W,50,995,,3 days 00:00:00,2003-04-24 00:00:00,2003-04-21 00:00:00
3,AL012003,ANA,2003-04-21 18:00:00,2003,TS,29.4N,63.1W,50,994,,3 days 00:00:00,2003-04-24 00:00:00,2003-04-21 00:00:00
4,AL012003,ANA,2003-04-22 00:00:00,2003,TS,29.4N,61.5W,50,994,,3 days 00:00:00,2003-04-24 00:00:00,2003-04-21 00:00:00
5,AL012003,ANA,2003-04-22 06:00:00,2003,TS,29.5N,60.1W,50,994,,3 days 00:00:00,2003-04-24 00:00:00,2003-04-21 00:00:00
6,AL012003,ANA,2003-04-22 12:00:00,2003,TS,29.6N,58.5W,45,995,,3 days 00:00:00,2003-04-24 00:00:00,2003-04-21 00:00:00
7,AL012003,ANA,2003-04-22 18:00:00,2003,TS,29.7N,56.6W,45,996,,3 days 00:00:00,2003-04-24 00:00:00,2003-04-21 00:00:00
8,AL012003,ANA,2003-04-23 00:00:00,2003,TS,30.0N,54.7W,40,998,,3 days 00:00:00,2003-04-24 00:00:00,2003-04-21 00:00:00
9,AL012003,ANA,2003-04-23 06:00:00,2003,TS,30.6N,53.0W,40,1000,,3 days 00:00:00,2003-04-24 00:00:00,2003-04-21 00:00:00
10,AL012003,ANA,2003-04-23 12:00:00,2003,TS,31.4N,51.5W,40,1000,,3 days 00:00:00,2003-04-24 00:00:00,2003-04-21 00:00:00
11,AL012003,ANA,2003-04-23 18:00:00,2003,TS,31.9N,50.6W,35,1001,,3 days 00:00:00,2003-04-24 00:00:00,2003-04-21 00:00:00
12,AL012003,ANA,2003-04-24 00:00:00,2003,TS,32.1N,49.6W,35,1003,,3 days 00:00:00,2003-04-24 00:00:00,2003-04-21 00:00:00
13,AL032003,BILL,2003-06-29 12:00:00,2003,TS,23.4N,90.5W,35,1007,,1 days 12:00:00,2003-07-01 00:00:00,2003-06-29 12:00:00
14,AL032003,BILL,2003-06-29 18:00:00,2003,TS,24.6N,91.1W,40,1009,,1 days 12:00:00,2003-07-01 00:00:00,2003-06-29 12:00:00
15,AL032003,BILL,2003-06-30 00:00:00,2003,TS,25.9N,91.3W,45,1008,,1 days 12:00:00,2003-07-01 00:00:00,2003-06-29 12:00:00
16,AL032003,BILL,2003-06-30 06:00:00,2003,TS,27.1N,91.5W,45,1007,,1 days 12:00:00,2003-07-01 00:00:00,2003-06-29 12:00:00
17,AL032003,BILL,2003-06-30 12:00:00,2003,TS,28.2N,91.5W,50,1002,,1 days 12:00:00,2003-07-01 00:00:00,2003-06-29 12:00:00
18,AL032003,BILL,2003-06-30 18:00:00,2003,TS,29.1N,91.0W,50,997,,1 days 12:00:00,2003-07-01 00:00:00,2003-06-29 12:00:00
19,AL032003,BILL,2003-06-30 19:00:00,2003,TS,29.3N,91.0W,50,997,L,1 days 12:00:00,2003-07-01 00:00:00,2003-06-29 12:00:00
20,AL032003,BILL,2003-07-01 00:00:00,2003,TS,30.4N,90.3W,45,998,,1 days 12:00:00,2003-07-01 00:00:00,2003-06-29 12:00:00
21,AL042003,CLAUDETTE,2003-07-08 18:00:00,2003,TS,14.8N,70.0W,45,1006,,8 days 00:00:00,2003-07-16 18:00:00,2003-07-08 18:00:00
22,AL042003,CLAUDETTE,2003-07-09 00:00:00,2003,TS,15.0N,72.0W,50,1001,,8 days 00:00:00,2003-07-16 18:00:00,2003-07-08 18:00:00
23,AL042003,CLAUDETTE,2003-07-09 06:00:00,2003,TS,15.1N,74.4W,60,1003,,8 days 00:00:00,2003-07-16 18:00:00,2003-07-08 18:00:00
24,AL042003,CLAUDETTE,2003-07-09 12:00:00,2003,TS,15.3N,76.5W,55,1004,,8 days 00:00:00,2003-07-16 18:00:00,2003-07-08 18:00:00
25,AL042003,CLAUDETTE,2003-07-09 18:00:00,2003,TS,15.8N,78.6W,55,1002,,8 days 00:00:00,2003-07-16 18:00:00,2003-07-08 18:00:00
26,AL042003,CLAUDETTE,2003-07-10 00:00:00,2003,TS,16.1N,80.3W,55,1002,,8 days 00:00:00,2003-07-16 18:00:00,2003-07-08 18:00:00
27,AL042003,CLAUDETTE,2003-07-10 06:00:00,2003,TS,16.6N,81.7W,55,998,,8 days 00:00:00,2003-07-16 18:00:00,2003-07-08 18:00:00
28,AL042003,CLAUDETTE,2003-07-10 12:00:00,2003,HU,17.5N,82.8W,70,988,,8 days 00:00:00,2003-07-16 18:00:00,2003-07-08 18:00:00
29,AL042003,CLAUDETTE,2003-07-10 18:00:00,2003,TS,18.6N,84.1W,55,1003,,8 days 00:00:00,2003-07-16 18:00:00,2003-07-08 18:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,AL052003,DANNY,2003-07-20 12:00:00,2003,TS,41.9N,40.7W,40,1008,,3 days 12:00:00,2003-07-20 12:00:00,2003-07-17 00:00:00
71,AL082003,ERIKA,2003-08-14 18:00:00,2003,TS,26.4N,83.3W,35,1011,,2 days 00:00:00,2003-08-16 18:00:00,2003-08-14 18:00:00
72,AL082003,ERIKA,2003-08-15 00:00:00,2003,TS,26.6N,85.7W,40,1008,,2 days 00:00:00,2003-08-16 18:00:00,2003-08-14 18:00:00
73,AL082003,ERIKA,2003-08-15 06:00:00,2003,TS,26.4N,88.3W,40,1008,,2 days 00:00:00,2003-08-16 18:00:00,2003-08-14 18:00:00
74,AL082003,ERIKA,2003-08-15 12:00:00,2003,TS,26.1N,90.5W,45,1007,,2 days 00:00:00,2003-08-16 18:00:00,2003-08-14 18:00:00
75,AL082003,ERIKA,2003-08-15 18:00:00,2003,TS,26.0N,92.5W,50,1001,,2 days 00:00:00,2003-08-16 18:00:00,2003-08-14 18:00:00
76,AL082003,ERIKA,2003-08-16 00:00:00,2003,TS,25.9N,94.4W,55,995,,2 days 00:00:00,2003-08-16 18:00:00,2003-08-14 18:00:00
77,AL082003,ERIKA,2003-08-16 06:00:00,2003,TS,25.6N,96.2W,60,988,,2 days 00:00:00,2003-08-16 18:00:00,2003-08-14 18:00:00
78,AL082003,ERIKA,2003-08-16 10:03:00,2003,HU,25.3N,97.4W,65,986,L,2 days 00:00:00,2003-08-16 18:00:00,2003-08-14 18:00:00
79,AL082003,ERIKA,2003-08-16 12:00:00,2003,HU,25.2N,97.6W,65,988,,2 days 00:00:00,2003-08-16 18:00:00,2003-08-14 18:00:00
80,AL082003,ERIKA,2003-08-16 18:00:00,2003,TS,24.8N,98.9W,35,1003,,2 days 00:00:00,2003-08-16 18:00:00,2003-08-14 18:00:00
81,AL102003,FABIAN,2003-08-28 12:00:00,2003,TS,15.0N,36.2W,35,1006,,11 days 00:00:00,2003-09-08 12:00:00,2003-08-28 12:00:00
82,AL102003,FABIAN,2003-08-28 18:00:00,2003,TS,15.1N,38.2W,40,1004,,11 days 00:00:00,2003-09-08 12:00:00,2003-08-28 12:00:00
83,AL102003,FABIAN,2003-08-29 00:00:00,2003,TS,15.2N,40.1W,45,1000,,11 days 00:00:00,2003-09-08 12:00:00,2003-08-28 12:00:00
84,AL102003,FABIAN,2003-08-29 06:00:00,2003,TS,15.4N,41.8W,50,997,,11 days 00:00:00,2003-09-08 12:00:00,2003-08-28 12:00:00
85,AL102003,FABIAN,2003-08-29 12:00:00,2003,TS,15.5N,43.1W,50,997,,11 days 00:00:00,2003-09-08 12:00:00,2003-08-28 12:00:00
86,AL102003,FABIAN,2003-08-29 18:00:00,2003,TS,15.8N,44.3W,60,990,,11 days 00:00:00,2003-09-08 12:00:00,2003-08-28 12:00:00
87,AL102003,FABIAN,2003-08-30 00:00:00,2003,HU,16.3N,45.6W,65,987,,11 days 00:00:00,2003-09-08 12:00:00,2003-08-28 12:00:00
88,AL102003,FABIAN,2003-08-30 06:00:00,2003,HU,16.7N,46.9W,70,984,,11 days 00:00:00,2003-09-08 12:00:00,2003-08-28 12:00:00
89,AL102003,FABIAN,2003-08-30 12:00:00,2003,HU,17.0N,48.0W,85,973,,11 days 00:00:00,2003-09-08 12:00:00,2003-08-28 12:00:00
90,AL102003,FABIAN,2003-08-30 18:00:00,2003,HU,17.3N,49.2W,100,960,,11 days 00:00:00,2003-09-08 12:00:00,2003-08-28 12:00:00
91,AL102003,FABIAN,2003-08-31 00:00:00,2003,HU,17.6N,50.3W,110,952,,11 days 00:00:00,2003-09-08 12:00:00,2003-08-28 12:00:00
92,AL102003,FABIAN,2003-08-31 06:00:00,2003,HU,17.8N,51.4W,110,952,,11 days 00:00:00,2003-09-08 12:00:00,2003-08-28 12:00:00
93,AL102003,FABIAN,2003-08-31 12:00:00,2003,HU,18.0N,52.5W,110,952,,11 days 00:00:00,2003-09-08 12:00:00,2003-08-28 12:00:00
94,AL102003,FABIAN,2003-08-31 18:00:00,2003,HU,18.2N,53.5W,115,948,,11 days 00:00:00,2003-09-08 12:00:00,2003-08-28 12:00:00
95,AL102003,FABIAN,2003-09-01 00:00:00,2003,HU,18.3N,54.3W,120,945,,11 days 00:00:00,2003-09-08 12:00:00,2003-08-28 12:00:00
96,AL102003,FABIAN,2003-09-01 06:00:00,2003,HU,18.5N,55.3W,120,949,,11 days 00:00:00,2003-09-08 12:00:00,2003-08-28 12:00:00
97,AL102003,FABIAN,2003-09-01 12:00:00,2003,HU,18.7N,56.3W,120,949,,11 days 00:00:00,2003-09-08 12:00:00,2003-08-28 12:00:00
98,AL102003,FABIAN,2003-09-01 18:00:00,2003,HU,19.0N,57.3W,125,944,,11 days 00:00:00,2003-09-08 12:00:00,2003-08-28 12:00:00
99,AL102003,FABIAN,2003-09-02 00:00:00,2003,HU,19.3N,58.3W,125,943,,11 days 00:00:00,2003-09-08 12:00:00,2003-08-28 12:00:00

In [10]:
#Filter only storms that reached Landfall and create dataframe
landfall_df = merge_df.loc[merge_df['Landfall'] == "L"]

In [11]:
#Find the nearest city to the Landfall cooridinates using the Citipy
from citipy import citipy

#strip the Direction from the Latitude and Longitude

lats = landfall_df["Latitude"].str.split("([A-Z]+)", expand=True)
lons = landfall_df["Longitude"].str.split("([A-Z]+)", expand=True)
#grab the number from index 0
lats = lats[0]
lons = lons[0]
#use citipy to find the nearest city
landfall_df.loc[:, "Latitude"] = lats
landfall_df.loc[:, "Longitude"] = lons
#change the column to numeric
landfall_df["Latitude"] = pd.to_numeric(landfall_df["Latitude"])
landfall_df["Longitude"] = pd.to_numeric(landfall_df["Longitude"])
#convert Longitude column to negative
landfall_df["Longitude"] *= -1


#use citipy to find the nearest city
latitude = landfall_df["Latitude"]
longitude = landfall_df["Longitude"]
coordinates = zip(latitude, longitude)
cities = []
for coordinate_pair in coordinates:
    lat, lon = coordinate_pair
    cities.append(citipy.nearest_city(lat,lon))

/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s
/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel/__main__.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel/__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel/__main__.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [12]:
# Add city name column to Landfall dataframe
city_name = []
for city in cities:
    name = city.city_name
    city_name.append(name)
landfall_df.loc[:, "Nearest City"] = city_name
landfall_df.head()

/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/indexing.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

,Storm_Id,Name,Date,Year,Status,Latitude,Longitude,Windspeed,Pressure,Landfall,Duration,End Date,Start Date,Nearest City
19,AL032003,BILL,2003-06-30 19:00:00,2003,TS,29.3,-91.0,50,997,L,1 days 12:00:00,2003-07-01 00:00:00,2003-06-29 12:00:00,houma
32,AL042003,CLAUDETTE,2003-07-11 10:00:00,2003,TS,20.8,-86.9,50,1009,L,8 days 00:00:00,2003-07-16 18:00:00,2003-07-08 18:00:00,playa del carmen
50,AL042003,CLAUDETTE,2003-07-15 15:03:00,2003,HU,28.3,-96.2,80,979,L,8 days 00:00:00,2003-07-16 18:00:00,2003-07-08 18:00:00,port lavaca
78,AL082003,ERIKA,2003-08-16 10:03:00,2003,HU,25.3,-97.4,65,986,L,2 days 00:00:00,2003-08-16 18:00:00,2003-08-14 18:00:00,valle hermoso
129,AL112003,GRACE,2003-08-31 11:00:00,2003,TS,29.4,-95.1,35,1007,L,0 days 18:00:00,2003-08-31 12:00:00,2003-08-30 18:00:00,santa fe

In [13]:
# merget landfall and original dataframe 
storm_added_fields = pd.merge(merge_df, landfall_df, how="outer", on="Storm_Id")

storm_added_fields = storm_added_fields.loc[:, ["Storm_Id", "Name_x", "Date_x", "Year_x", "Status_x", "Latitude_x", "Longitude_x"
                                    ,"Windspeed_x", "Pressure_x", "Start Date_x", "End Date_x", "Duration_x", "Landfall_y"
                                    ,"Latitude_y", "Longitude_y", "Nearest City"]]

storm_added_fields_df = storm_added_fields.rename(columns={"Storm_Id": "Storm ID", "Name_x":"Name", "Date_x":"Date", "Year_x": "Year", "Status_x":"Status"
                                                       ,"Latitude_x" : "Max Latitude", "Longitude_x": "Max Longitude"
                                                       ,"Windspeed_x" : "Max Windspeed", "Pressure_x" : "Max Pressure"
                                                       ,"Start Date_x" : "Start Date", "End Date_x" : "End Date", "Duration_x" : "Duration"
                                                       ,"Landfall_y" : "Landfall", "Latitude_y" : "Lf Latitude", "Longitude_y" : "Lf Longitude", "Nearest City": "Nearest City"})


storm_added_fields_df.head()

,Storm ID,Name,Date,Year,Status,Max Latitude,Max Longitude,Max Windspeed,Max Pressure,Start Date,End Date,Duration,Landfall,Lf Latitude,Lf Longitude,Nearest City
0,AL012003,ANA,2003-04-21 00:00:00,2003,TS,31.4N,66.4W,50,995,2003-04-21,2003-04-24,3 days,NaN,NaN,NaN,NaN
1,AL012003,ANA,2003-04-21 06:00:00,2003,TS,30.6N,65.8W,50,995,2003-04-21,2003-04-24,3 days,NaN,NaN,NaN,NaN
2,AL012003,ANA,2003-04-21 12:00:00,2003,TS,30.0N,64.8W,50,995,2003-04-21,2003-04-24,3 days,NaN,NaN,NaN,NaN
3,AL012003,ANA,2003-04-21 18:00:00,2003,TS,29.4N,63.1W,50,994,2003-04-21,2003-04-24,3 days,NaN,NaN,NaN,NaN
4,AL012003,ANA,2003-04-22 00:00:00,2003,TS,29.4N,61.5W,50,994,2003-04-21,2003-04-24,3 days,NaN,NaN,NaN,NaN

In [14]:
#Find row with Max windspeed and return all columns in that row.
clean_storm_df = storm_added_fields_df.iloc[storm_added_fields_df.reset_index().groupby(['Storm ID'])["Max Windspeed"].idxmax()]
clean_storm_df.head()

,Storm ID,Name,Date,Year,Status,Max Latitude,Max Longitude,Max Windspeed,Max Pressure,Start Date,End Date,Duration,Landfall,Lf Latitude,Lf Longitude,Nearest City
0,AL012003,ANA,2003-04-21 00:00:00,2003,TS,31.4N,66.4W,50,995,2003-04-21 00:00:00,2003-04-24 00:00:00,3 days 00:00:00,NaN,NaN,NaN,NaN
375,AL012004,ALEX,2004-08-05 00:00:00,2004,HU,38.5N,66.0W,105,957,2004-08-01 18:00:00,2004-08-06 12:00:00,4 days 18:00:00,NaN,NaN,NaN,NaN
1318,AL012005,ARLENE,2005-06-11 00:00:00,2005,TS,26.5N,85.6W,60,990,2005-06-09 06:00:00,2005-06-11 19:00:00,2 days 13:00:00,L,21.8,-84.5,mantua
2140,AL012006,ALBERTO,2006-06-12 12:00:00,2006,TS,26.8N,86.3W,60,1000,2006-06-11 00:00:00,2006-06-14 00:00:00,3 days 00:00:00,L,29.9,-83.7,tallahassee
2721,AL012008,ARTHUR,2008-05-31 06:00:00,2008,TS,17.8N,88.0W,40,1004,2008-05-31 00:00:00,2008-06-01 06:00:00,1 days 06:00:00,L,17.9,-88.2,san pedro

In [15]:
# Create Bins for each storm category according to https://en.wikipedia.org/wiki/Maximum_sustained_wind
min_wind = clean_storm_df["Max Windspeed"].min()
print(min_wind)
bins = [33, 63, 82, 95, 112, 136, 170]

# Create the names for the four bins
group_names = ['Tropical Storm', 'Category One', 'Category Two', 'Category Three', 'Category Four', 'Category Five']

35

In [16]:
# create new category column
storm_category = pd.cut(clean_storm_df["Max Windspeed"], bins, labels=group_names)
storm_category

0       Tropical Storm
375     Category Three
1318    Tropical Storm
2140    Tropical Storm
2721    Tropical Storm
4020      Category Two
4560    Tropical Storm
5246    Tropical Storm
5876    Tropical Storm
6049      Category Two
6297    Tropical Storm
6549      Category One
7063    Tropical Storm
391     Tropical Storm
1330    Tropical Storm
2444    Tropical Storm
2745    Category Three
3851    Tropical Storm
4567    Tropical Storm
5257    Tropical Storm
5883    Tropical Storm
6306    Tropical Storm
6556    Tropical Storm
7069    Tropical Storm
17      Tropical Storm
476      Category Four
1340      Category One
2152    Tropical Storm
2448    Tropical Storm
2804    Tropical Storm
             ...
3845     Category Four
4376      Category One
5203      Category One
5795      Category One
8075    Category Three
304     Tropical Storm
1858     Category Five
4393      Category Two
5218    Category Three
5824    Category Three
8081    Tropical Storm
321     Tropical Storm
4429      Category Two
5234    Tropical Storm
5868    Tropical Storm
8088    Tropical Storm
350     Tropical Storm
1890      Category One
4437      Category One
359     Tropical Storm
4461      Category Two
1896    Tropical Storm
1901      Category One
1933     Category Five
2021    Tropical Storm
2037    Category Three
2045    Tropical Storm
2053    Tropical Storm
2093      Category One
2116    Tropical Storm
Name: Max Windspeed, Length: 227, dtype: category
Categories (6, object): [Tropical Storm < Category One < Category Two < Category Three < Category Four < Category Five]

In [17]:
# Add column to clean storm dataframe
clean_storm_df["Storm Category"] = storm_category
clean_storm_df

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,Storm ID,Name,Date,Year,Status,Max Latitude,Max Longitude,Max Windspeed,Max Pressure,Start Date,End Date,Duration,Landfall,Lf Latitude,Lf Longitude,Nearest City,Storm Category
0,AL012003,ANA,2003-04-21 00:00:00,2003,TS,31.4N,66.4W,50,995,2003-04-21 00:00:00,2003-04-24 00:00:00,3 days 00:00:00,NaN,NaN,NaN,NaN,Tropical Storm
375,AL012004,ALEX,2004-08-05 00:00:00,2004,HU,38.5N,66.0W,105,957,2004-08-01 18:00:00,2004-08-06 12:00:00,4 days 18:00:00,NaN,NaN,NaN,NaN,Category Three
1318,AL012005,ARLENE,2005-06-11 00:00:00,2005,TS,26.5N,85.6W,60,990,2005-06-09 06:00:00,2005-06-11 19:00:00,2 days 13:00:00,L,21.8,-84.5,mantua,Tropical Storm
2140,AL012006,ALBERTO,2006-06-12 12:00:00,2006,TS,26.8N,86.3W,60,1000,2006-06-11 00:00:00,2006-06-14 00:00:00,3 days 00:00:00,L,29.9,-83.7,tallahassee,Tropical Storm
2721,AL012008,ARTHUR,2008-05-31 06:00:00,2008,TS,17.8N,88.0W,40,1004,2008-05-31 00:00:00,2008-06-01 06:00:00,1 days 06:00:00,L,17.9,-88.2,san pedro,Tropical Storm
4020,AL012010,ALEX,2010-07-01 02:00:00,2010,HU,24.2N,97.7W,95,946,2010-06-26 06:00:00,2010-07-01 18:00:00,5 days 12:00:00,L,17.5,-88.2,belize,Category Two
4560,AL012011,ARLENE,2011-06-30 06:00:00,2011,TS,21.6N,97.0W,55,994,2011-06-28 18:00:00,2011-06-30 18:00:00,2 days 00:00:00,L,21.6,-97.4,tamiahua,Tropical Storm
5246,AL012012,ALBERTO,2012-05-20 00:00:00,2012,TS,32.1N,78.1W,50,995,2012-05-19 12:00:00,2012-05-22 06:00:00,2 days 18:00:00,NaN,NaN,NaN,NaN,Tropical Storm
5876,AL012013,ANDREA,2013-06-06 12:00:00,2013,TS,27.8N,84.9W,55,995,2013-06-05 18:00:00,2013-06-07 12:00:00,1 days 18:00:00,L,29.5,-83.4,lake city,Tropical Storm
6049,AL012014,ARTHUR,2014-07-04 00:00:00,2014,HU,34.0N,77.3W,85,975,2014-07-01 12:00:00,2014-07-05 06:00:00,3 days 18:00:00,L,34.7,-76.6,havelock,Category Two
6297,AL012015,ANA,2015-05-09 06:00:00,2015,TS,32.2N,77.5W,50,998,2015-05-09 06:00:00,2015-05-10 12:00:00,1 days 06:00:00,L,33.8,-78.8,north myrtle beach,Tropical Storm
6549,AL012016,ALEX,2016-01-14 12:00:00,2016,HU,30.8N,28.7W,75,981,2016-01-14 06:00:00,2016-01-15 13:01:05,1 days 07:01:05,L,38.7,-27.1,praia da vitoria,Category One
7063,AL012017,ARLENE,2017-04-21 00:00:00,2017,TS,39.0N,43.0W,45,990,2017-04-20 06:00:00,2017-04-21 06:00:00,1 days 00:00:00,NaN,NaN,NaN,NaN,Tropical Storm
391,AL022004,BONNIE,2004-08-11 18:00:00,2004,TS,26.4N,89.6W,55,1001,2004-08-09 12:00:00,2004-08-12 14:00:00,3 days 02:00:00,L,29.6,-85.1,callaway,Tropical Storm
1330,AL022005,BRET,2005-06-28 22:03:05,2005,TS,19.9N,95.7W,35,1002,2005-06-28 22:03:05,2005-06-29 12:00:00,0 days 13:56:55,L,20.8,-97.3,cazones,Tropical Storm
2444,AL022007,BARRY,2007-06-02 00:00:00,2007,TS,24.3N,85.2W,50,997,2007-06-01 18:00:00,2007-06-02 12:00:00,0 days 18:00:00,NaN,NaN,NaN,NaN,Tropical Storm
2745,AL022008,BERTHA,2008-07-07 21:00:00,2008,HU,20.3N,51.9W,110,952,2008-07-03 12:00:00,2008-07-20 06:00:00,16 days 18:00:00,NaN,NaN,NaN,NaN,Category Three
3851,AL022009,ANA,2009-08-12 12:00:00,2009,TS,14.4N,33.3W,35,1005,2009-08-12 12:00:00,2009-08-16 06:00:00,3 days 18:00:00,NaN,NaN,NaN,NaN,Tropical Storm
4567,AL022011,BRET,2011-07-18 18:00:00,2011,TS,27.8N,77.1W,60,995,2011-07-18 00:00:00,2011-07-21 18:00:00,3 days 18:00:00,NaN,NaN,NaN,NaN,Tropical Storm
5257,AL022012,BERYL,2012-05-27 23:00:00,2012,TS,30.1N,80.5W,60,992,2012-05-27 18:00:00,2012-05-30 12:00:00,2 days 18:00:00,L,30.2,-81.4,palm valley,Tropical Storm
5883,AL022013,BARRY,2013-06-19 18:00:00,2013,TS,19.6N,94.8W,40,1005,2013-06-19 12:00:00,2013-06-20 12:00:00,1 days 00:00:00,L,19.6,-96.4,zempoala,Tropical Storm
6306,AL022015,BILL,2015-06-16 12:00:00,2015,TS,28.0N,96.0W,50,997,2015-06-16 00:00:00,2015-06-17 00:00:00,1 days 00:00:00,L,28.2,-96.7,rockport,Tropical Storm
6556,AL022016,BONNIE,2016-05-28 18:00:00,2016,TS,30.7N,79.1W,40,1008,2016-05-28 12:00:00,2016-06-04 06:00:00,6 days 18:00:00,NaN,NaN,NaN,NaN,Tropical Storm
7069,AL022017,BRET,2017-06-20 02:00:00,2017,TS,10.1N,61.1W,45,1008,2017-06-19 18:00:00,2017-06-20 09:00:00,0 days 15:00:00,L,10.1,-61.1,rio claro,Tropical Storm
17,AL032003,BILL,2003-06-30 12:00:00,2003,TS,28.2N,91.5W,50,1002,2003-06-29 12:00:00,2003-07-01 00:00:00,1 days 12:00:00,L,29.3,-91.0,houma,Tropical Storm
476,AL032004,CHARLEY,2004-08-13 19:04:05,2004,HU,26.6N,82.2W,130,941,2004-08-10 06:00:00,2004-08-14 18:00:00,4 days 12:00:00,L,22.7,-82.6,alquizar,Category Four
1340,AL032005,CINDY,2005-07-06 00:00:00,2005,HU,28.5N,90.3W,65,992,2005-07-05 06:00:00,2005-07-06 12:00:00,1 days 06:00:00,L,29.2,-90.1,estelle,Category One
2152,AL032006,BERYL,2006-07-19 18:00:00,2006,TS,35.9N,73.5W,50,1003,2006-07-18 18:00:00,2006-07-21 12:00:00,2 days 18:00:00,L,41.3,-70.1,nantucket,Tropical Storm
2448,AL032007,CHANTAL,2007-07-31 12:00:00,2007,TS,39.1N,64.2W,45,999,2007-07-31 06:00:00,2007-08-01 00:00:00,0 days 18:00:00,NaN,NaN,NaN,NaN,Tropical Storm
2804,AL032008,CRISTOBAL,2008-07-21 12:00:00,2008,TS,36.2N,73.2W,55,1000,2008-07-19 12:00:00,2008-07-23 06:00:00,3 days 18:00:00,NaN,NaN,NaN,NaN,Tropical Storm
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3845,AL172008,PALOMA,2008-11-08 12:00:00,2008,HU,19.8N,79.6W,125,944,2008-11-06 06:00:00,2008-11-09 12:00:00,3 days 06:00:00,L,20.7,-78.0,santa cruz del sur,Category Four
4376,AL172010,OTTO,2010-10-09 00:00:00,2010,HU,27.2N,61.7W,75,976,2010-10-07 12:00:00,2010-10-10 00:00:00,2 days 12:00:00,NaN,NaN,NaN,NaN,Category One
5203,AL172011,PHILIPPE,2011-10-06 18:00:00,2011,HU,28.2N,59.7W,80,977,2011-09-24 12:00:00,2011-10-08 12:00:00,14 days 00:00:00,NaN,NaN,NaN,NaN,Category One
5795,AL172012,RAFAEL,2012-10-16 00:00:00,2012,HU,24.6N,65.6W,80,974,2012-10-12 18:00:00,2012-10-17 12:00:00,4 days 18:00:00,NaN,NaN,NaN,NaN,Category One
8075,AL172017,OPHELIA,2017-10-14 12:00:00,2017,HU,34.2N,27.7W,100,959,2017-10-09 06:00:00,2017-10-15 18:00:00,6 days 12:00:00,NaN,NaN,NaN,NaN,Category Three
304,AL182003,MINDY,2003-10-10 18:00:00,2003,TS,19.1N,68.8W,40,1004,2003-10-10 18:00:00,2003-10-12 00:00:00,1 days 06:00:00,NaN,NaN,NaN,NaN,Tropical Storm
1858,AL182005,RITA,2005-09-22 03:00:00,2005,HU,24.7N,87.3W,155,895,2005-09-18 18:00:00,2005-09-25 00:00:00,6 days 06:00:00,L,29.7,-93.7,port arthur,Category Five
4393,AL182010,PAULA,2010-10-12 18:00:00,2010,HU,18.8N,85.9W,90,981,2010-10-11 06:00:00,2010-10-15 00:00:00,3 days 18:00:00,L,15.0,-83.2,iralaya,Category Two
5218,AL182011,RINA,2011-10-25 18:00:00,2011,HU,17.3N,84.2W,100,971,2011-10-24 00:00:00,2011-10-28 12:00:00,4 days 12:00:00,L,20.5,-87.2,playa del carmen,Category Three
5824,AL182012,SANDY,2012-10-25 05:02:05,2012,HU,20.0N,76.0W,100,954,2012-10-22 18:00:00,2012-10-29 18:00:00,7 days 00:00:00,L,17.9,-76.6,morant bay,Category Three
8081,AL182017,PHILIPPE,2017-10-28 18:00:00,2017,TS,21.3N,82.4W,35,1000,2017-10-28 18:00:00,2017-10-28 22:00:00,0 days 04:00:00,L,22.2,-81.6,alacranes,Tropical Storm
321,AL192003,NICHOLAS,2003-10-17 12:00:00,2003,TS,15.5N,48.0W,60,990,2003-10-14 18:00:00,2003-10-23 00:00:00,8 days 06:00:00,NaN,NaN,NaN,NaN,Tropical Storm
4429,AL192010,RICHARD,2010-10-25 00:00:00,2010,HU,17.2N,88.2W,85,977,2010-10-21 12:00:00,2010-10-25 12:00:00,4 days 00:00:00,L,17.2,-88.3,dangriga,Category Two
5234,AL192011,SEAN,2011-11-09 12:00:00,2011,TS,27.9N,70.4W,55,994,2011-11-08 18:00:00,2011-11-11 18:00:00,3 days 00:00:00,NaN,NaN,NaN,NaN,Tropical Storm
5868,AL192012,TONY,2012-10-24 12:00:00,2012,TS,27.9N,46.8W,45,1000,2012-10-24 00:00:00,2012-10-25 12:00:00,1 days 12:00:00,NaN,NaN,NaN,NaN,Tropical Storm
8088,AL192017,RINA,2017-11-08 06:00:00,2017,TS,36.4N,48.7W,50,996,2017-11-07 00:00:00,2017-11-09 00:00:00,2 days 00:00:00,NaN,NaN,NaN,NaN,Tropical Storm
350,AL202003,ODETTE,2003-12-06 06:00:00,2003,TS,15.9N,72.5W,55,995,2003-12-04 18:00:00,2003-12-07 12:00:00,2 days 18:00:00,L,17.8,-71.5,pedernales,Tropical Storm
1890,AL202005,STAN,2005-10-04 12:00:00,2005,HU,18.6N,94.9W,70,977,2005-10-02 06:00:00,2005-10-04 18:00:00,2 days 12:00:00,L,19.6,-87.5,tulum,Category One
4437,AL202010,SHARY,2010-10-30 00:00:00,2010,HU,31.3N,64.0W,65,990,2010-10-29 00:00:00,2010-10-30 12:00:00,1 days 12:00:00,NaN,NaN,NaN,NaN,Category One
359,AL212003,PETER,2003-12-09 18:00:00,2003,TS,21.0N,37.0W,60,990,2003-12-09 06:00:00,2003-12-10 06:00:00,1 days 00:00:00,NaN,NaN,NaN,NaN,Tropical Storm
4461,AL212010,TOMAS,2010-10-30 20:00:00,2010,HU,13.4N,61.2W,85,987,2010-10-29 12:00:00,2010-11-07 18:00:00,9 days 06:00:00,L,13.0,-59.5,oistins,Category Two
1896,AL222005,TAMMY,2005-10-05 18:00:00,2005,TS,29.5N,80.9W,45,1001,2005-10-05 06:00:00,2005-10-06 06:00:00,1 days 00:00:00,L,30.4,-81.4,atlantic beach,Tropical Storm
1901,AL242005,VINCE,2005-10-09 18:00:00,2005,HU,34.1N,18.9W,65,988,2005-10-09 12:00:00,2005-10-10 18:00:00,1 days 06:00:00,NaN,NaN,NaN,NaN,Category One
1933,AL252005,WILMA,2005-10-19 12:00:00,2005,HU,17.3N,82.8W,160,882,2005-10-17 06:00:00,2005-10-25 18:00:00,8 days 12:00:00,L,20.6,-86.8,cozumel,Category Five
2021,AL262005,ALPHA,2005-10-23 00:00:00,2005,TS,17.3N,69.6W,45,1000,2005-10-22 18:00:00,2005-10-23 12:00:00,0 days 18:00:00,L,18.3,-71.3,cabral,Tropical Storm
2037,AL272005,BETA,2005-10-30 06:00:00,2005,HU,13.3N,83.1W,100,962,2005-10-27 06:00:00,2005-10-30 18:00:00,3 days 12:00:00,L,12.9,-83.5,laguna de perlas,Category Three
2045,AL282005,GAMMA,2005-11-19 12:00:00,2005,TS,16.1N,85.4W,45,1002,2005-11-15 06:00:00,2005-11-20 06:00:00,5 days 00:00:00,NaN,NaN,NaN,NaN,Tropical Storm
2053,AL292005,DELTA,2005-11-24 12:00:00,2005,TS,24.8N,39.0W,60,980,2005-11-23 12:00:00,2005-11-28 06:00:00,4 days 18:00:00,NaN,NaN,NaN,NaN,Tropical Storm
2093,AL302005,EPSILON,2005-12-05 06:00:00,2005,HU,34.0N,36.7W,75,981,2005-11-29 06:00:00,2005-12-08 06:00:00,9 days 00:00:00,NaN,NaN,NaN,NaN,Category One
2116,AL312005,ZETA,2006-01-01 18:00:00,2006,TS,25.0N,38.6W,55,994,2005-12-30 06:00:00,2006-01-06 00:00:00,6 days 18:00:00,NaN,NaN,NaN,NaN,Tropical Storm

# Strength of Storm

# Storm Season

# Storm Duration

# Most Dangerous City in relationship to Storms