# Hurricane Season Analysis

In [1]:
import pandas as pd
import citipy as cipy
from datetime import datetime
import numpy as np
import csv
file = "hurricane_data.csv"

In [2]:
def left(s, amount):
    return s[:amount]

def right(s, amount):
    return s[-amount:]

def mid(s, offset, amount):
    return s[offset:offset+amount]

In [3]:
hurricane_data = []

storm_id = "0000000"
storm_name = "UNNAMED"
with open(file) as hurricane_file:
    hurricane_reader = csv.reader(hurricane_file)
    next(hurricane_reader, None) 
    for row in hurricane_reader:
                if 'AL' in row[0]: 
                    storm_id = row[0].strip()
                    storm_name = row[1].strip()
                    #print(f'{storm_id}: {storm_name}')
                else:
                    oldformat = row[0]
                    datetimeobject = datetime.strptime(oldformat,'%Y%m%d')
                    #date = datetimeobject.strftime('%m-%d-%Y')
                    year = left(row[0] ,4)
                    landfall = row[2].strip()
                    status = row[3].strip()
                    latitude = row[4].strip()
                    longitude = row[5].strip()
                    wind = row[6].strip()
                    pressure = row[7].strip()
                    #date = row[0].strip()
                hurricane_data.append(
                    {
                        "Storm_Id": storm_id, 
                        "Name": storm_name,
                        "Date": oldformat,
                        "Year": year,
                        "Landfall": landfall,
                        "Status" : status,
                        "Latitude" : latitude,
                        "Longitude" : longitude,
                        "Windspeed" : wind,
                        "Pressure" : pressure
                    }
                )

In [4]:
hurricane_pd = pd.DataFrame(hurricane_data)
hurricane_pd = hurricane_pd.loc[:, ["Storm_Id", "Name", "Date", "Year", "Status", "Latitude",
                                    "Longitude", "Windspeed", "Pressure"]]
hurricane_pd.head()

,Storm_Id,Name,Date,Year,Status,Latitude,Longitude,Windspeed,Pressure
0,0000000,UNNAMED,18510625,1851,HU,28.0N,94.8W,80,-999
1,0000000,UNNAMED,18510625,1851,HU,28.0N,95.4W,80,-999
2,0000000,UNNAMED,18510625,1851,HU,28.0N,96.0W,80,-999
3,0000000,UNNAMED,18510625,1851,HU,28.1N,96.5W,80,-999
4,0000000,UNNAMED,18510625,1851,HU,28.2N,96.8W,80,-999

In [5]:
hurricane_pd.count()

Storm_Id     52150
Name         52150
Date         52150
Year         52150
Status       52150
Latitude     52150
Longitude    52150
Windspeed    52150
Pressure     52150
dtype: int64

In [6]:
hurricane_pd.dtypes

Storm_Id     object
Name         object
Date         object
Year         object
Status       object
Latitude     object
Longitude    object
Windspeed    object
Pressure     object
dtype: object

In [7]:
hurricane_pd['Windspeed'] = pd.to_numeric(hurricane_pd['Windspeed'])
hurricane_pd['Pressure'] = pd.to_numeric(hurricane_pd['Pressure'])
hurricane_pd['Date'] = pd.to_numeric(hurricane_pd['Date'])
hurricane_pd.dtypes

Storm_Id     object
Name         object
Date          int64
Year         object
Status       object
Latitude     object
Longitude    object
Windspeed     int64
Pressure      int64
dtype: object

In [8]:
hurricane_df_clean = hurricane_pd.loc[hurricane_pd["Year"] > "2002"]
hurricane_df_clean = hurricane_df_clean.loc[hurricane_df_clean['Status'].isin(['TS','HU'])]
hurricane_df_clean = hurricane_df_clean.loc[hurricane_df_clean['Name'] != "UNNAMED"]
hurricane_df_clean

,Storm_Id,Name,Date,Year,Status,Latitude,Longitude,Windspeed,Pressure
44120,AL012003,ANA,20030421,2003,TS,31.4N,66.4W,50,995
44121,AL012003,ANA,20030421,2003,TS,30.6N,65.8W,50,995
44122,AL012003,ANA,20030421,2003,TS,30.0N,64.8W,50,995
44123,AL012003,ANA,20030421,2003,TS,29.4N,63.1W,50,994
44124,AL012003,ANA,20030422,2003,TS,29.4N,61.5W,50,994
44125,AL012003,ANA,20030422,2003,TS,29.5N,60.1W,50,994
44126,AL012003,ANA,20030422,2003,TS,29.6N,58.5W,45,995
44127,AL012003,ANA,20030422,2003,TS,29.7N,56.6W,45,996
44128,AL012003,ANA,20030423,2003,TS,30.0N,54.7W,40,998
44129,AL012003,ANA,20030423,2003,TS,30.6N,53.0W,40,1000
44130,AL012003,ANA,20030423,2003,TS,31.4N,51.5W,40,1000
44131,AL012003,ANA,20030423,2003,TS,31.9N,50.6W,35,1001
44132,AL012003,ANA,20030424,2003,TS,32.1N,49.6W,35,1003
44158,AL032003,BILL,20030629,2003,TS,23.4N,90.5W,35,1007
44159,AL032003,BILL,20030629,2003,TS,24.6N,91.1W,40,1009
44160,AL032003,BILL,20030630,2003,TS,25.9N,91.3W,45,1008
44161,AL032003,BILL,20030630,2003,TS,27.1N,91.5W,45,1007
44162,AL032003,BILL,20030630,2003,TS,28.2N,91.5W,50,1002
44163,AL032003,BILL,20030630,2003,TS,29.1N,91.0W,50,997
44164,AL032003,BILL,20030630,2003,TS,29.3N,91.0W,50,997
44165,AL032003,BILL,20030701,2003,TS,30.4N,90.3W,45,998
44182,AL042003,CLAUDETTE,20030708,2003,TS,14.8N,70.0W,45,1006
44183,AL042003,CLAUDETTE,20030709,2003,TS,15.0N,72.0W,50,1001
44184,AL042003,CLAUDETTE,20030709,2003,TS,15.1N,74.4W,60,1003
44185,AL042003,CLAUDETTE,20030709,2003,TS,15.3N,76.5W,55,1004
44186,AL042003,CLAUDETTE,20030709,2003,TS,15.8N,78.6W,55,1002
44187,AL042003,CLAUDETTE,20030710,2003,TS,16.1N,80.3W,55,1002
44188,AL042003,CLAUDETTE,20030710,2003,TS,16.6N,81.7W,55,998
44189,AL042003,CLAUDETTE,20030710,2003,HU,17.5N,82.8W,70,988
44190,AL042003,CLAUDETTE,20030710,2003,TS,18.6N,84.1W,55,1003
...,...,...,...,...,...,...,...,...,...
52092,AL172017,OPHELIA,20171011,2017,TS,30.4N,37.2W,55,998
52093,AL172017,OPHELIA,20171011,2017,TS,30.0N,36.7W,60,994
52094,AL172017,OPHELIA,20171011,2017,HU,29.8N,36.2W,65,991
52095,AL172017,OPHELIA,20171012,2017,HU,29.9N,35.8W,70,986
52096,AL172017,OPHELIA,20171012,2017,HU,30.2N,35.7W,75,982
52097,AL172017,OPHELIA,20171012,2017,HU,30.4N,35.7W,80,975
52098,AL172017,OPHELIA,20171012,2017,HU,30.5N,35.6W,85,971
52099,AL172017,OPHELIA,20171013,2017,HU,30.5N,35.1W,90,967
52100,AL172017,OPHELIA,20171013,2017,HU,30.9N,34.4W,90,966
52101,AL172017,OPHELIA,20171013,2017,HU,31.4N,33.4W,80,974
52102,AL172017,OPHELIA,20171013,2017,HU,32.0N,32.5W,80,973
52103,AL172017,OPHELIA,20171014,2017,HU,32.6N,31.5W,85,970
52104,AL172017,OPHELIA,20171014,2017,HU,33.4N,29.7W,95,963
52105,AL172017,OPHELIA,20171014,2017,HU,34.2N,27.7W,100,959
52106,AL172017,OPHELIA,20171014,2017,HU,35.3N,25.2W,100,959
52107,AL172017,OPHELIA,20171015,2017,HU,36.4N,22.6W,95,959
52108,AL172017,OPHELIA,20171015,2017,HU,37.9N,19.8W,90,959
52109,AL172017,OPHELIA,20171015,2017,HU,39.9N,17.0W,85,959
52110,AL172017,OPHELIA,20171015,2017,HU,43.1N,14.3W,80,959
52125,AL182017,PHILIPPE,20171028,2017,TS,21.3N,82.4W,35,1000
52126,AL182017,PHILIPPE,20171028,2017,TS,22.2N,81.6W,35,1000
52139,AL192017,RINA,20171107,2017,TS,30.0N,50.0W,35,1008
52140,AL192017,RINA,20171107,2017,TS,30.8N,49.9W,40,1006
52141,AL192017,RINA,20171107,2017,TS,31.8N,49.5W,40,1004
52142,AL192017,RINA,20171107,2017,TS,33.0N,49.1W,40,1002
52143,AL192017,RINA,20171108,2017,TS,34.6N,48.7W,45,999
52144,AL192017,RINA,20171108,2017,TS,36.4N,48.7W,50,996
52145,AL192017,RINA,20171108,2017,TS,38.3N,48.8W,45,994
52146,AL192017,RINA,20171108,2017,TS,40.1N,49.0W,45,992
52147,AL192017,RINA,20171109,2017,TS,41.8N,48.8W,45,991

In [9]:
hurricane_df_clean["Start Date"] = hurricane_df_clean.groupby("Name")["Date"].min()
hurricane_df_clean["End Date"] = hurricane_df_clean.groupby("Name")["Date"].max()

hurricane_df_clean

,Storm_Id,Name,Date,Year,Status,Latitude,Longitude,Windspeed,Pressure,Start Date,End Date
44120,AL012003,ANA,20030421,2003,TS,31.4N,66.4W,50,995,NaN,NaN
44121,AL012003,ANA,20030421,2003,TS,30.6N,65.8W,50,995,NaN,NaN
44122,AL012003,ANA,20030421,2003,TS,30.0N,64.8W,50,995,NaN,NaN
44123,AL012003,ANA,20030421,2003,TS,29.4N,63.1W,50,994,NaN,NaN
44124,AL012003,ANA,20030422,2003,TS,29.4N,61.5W,50,994,NaN,NaN
44125,AL012003,ANA,20030422,2003,TS,29.5N,60.1W,50,994,NaN,NaN
44126,AL012003,ANA,20030422,2003,TS,29.6N,58.5W,45,995,NaN,NaN
44127,AL012003,ANA,20030422,2003,TS,29.7N,56.6W,45,996,NaN,NaN
44128,AL012003,ANA,20030423,2003,TS,30.0N,54.7W,40,998,NaN,NaN
44129,AL012003,ANA,20030423,2003,TS,30.6N,53.0W,40,1000,NaN,NaN
44130,AL012003,ANA,20030423,2003,TS,31.4N,51.5W,40,1000,NaN,NaN
44131,AL012003,ANA,20030423,2003,TS,31.9N,50.6W,35,1001,NaN,NaN
44132,AL012003,ANA,20030424,2003,TS,32.1N,49.6W,35,1003,NaN,NaN
44158,AL032003,BILL,20030629,2003,TS,23.4N,90.5W,35,1007,NaN,NaN
44159,AL032003,BILL,20030629,2003,TS,24.6N,91.1W,40,1009,NaN,NaN
44160,AL032003,BILL,20030630,2003,TS,25.9N,91.3W,45,1008,NaN,NaN
44161,AL032003,BILL,20030630,2003,TS,27.1N,91.5W,45,1007,NaN,NaN
44162,AL032003,BILL,20030630,2003,TS,28.2N,91.5W,50,1002,NaN,NaN
44163,AL032003,BILL,20030630,2003,TS,29.1N,91.0W,50,997,NaN,NaN
44164,AL032003,BILL,20030630,2003,TS,29.3N,91.0W,50,997,NaN,NaN
44165,AL032003,BILL,20030701,2003,TS,30.4N,90.3W,45,998,NaN,NaN
44182,AL042003,CLAUDETTE,20030708,2003,TS,14.8N,70.0W,45,1006,NaN,NaN
44183,AL042003,CLAUDETTE,20030709,2003,TS,15.0N,72.0W,50,1001,NaN,NaN
44184,AL042003,CLAUDETTE,20030709,2003,TS,15.1N,74.4W,60,1003,NaN,NaN
44185,AL042003,CLAUDETTE,20030709,2003,TS,15.3N,76.5W,55,1004,NaN,NaN
44186,AL042003,CLAUDETTE,20030709,2003,TS,15.8N,78.6W,55,1002,NaN,NaN
44187,AL042003,CLAUDETTE,20030710,2003,TS,16.1N,80.3W,55,1002,NaN,NaN
44188,AL042003,CLAUDETTE,20030710,2003,TS,16.6N,81.7W,55,998,NaN,NaN
44189,AL042003,CLAUDETTE,20030710,2003,HU,17.5N,82.8W,70,988,NaN,NaN
44190,AL042003,CLAUDETTE,20030710,2003,TS,18.6N,84.1W,55,1003,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
52092,AL172017,OPHELIA,20171011,2017,TS,30.4N,37.2W,55,998,NaN,NaN
52093,AL172017,OPHELIA,20171011,2017,TS,30.0N,36.7W,60,994,NaN,NaN
52094,AL172017,OPHELIA,20171011,2017,HU,29.8N,36.2W,65,991,NaN,NaN
52095,AL172017,OPHELIA,20171012,2017,HU,29.9N,35.8W,70,986,NaN,NaN
52096,AL172017,OPHELIA,20171012,2017,HU,30.2N,35.7W,75,982,NaN,NaN
52097,AL172017,OPHELIA,20171012,2017,HU,30.4N,35.7W,80,975,NaN,NaN
52098,AL172017,OPHELIA,20171012,2017,HU,30.5N,35.6W,85,971,NaN,NaN
52099,AL172017,OPHELIA,20171013,2017,HU,30.5N,35.1W,90,967,NaN,NaN
52100,AL172017,OPHELIA,20171013,2017,HU,30.9N,34.4W,90,966,NaN,NaN
52101,AL172017,OPHELIA,20171013,2017,HU,31.4N,33.4W,80,974,NaN,NaN
52102,AL172017,OPHELIA,20171013,2017,HU,32.0N,32.5W,80,973,NaN,NaN
52103,AL172017,OPHELIA,20171014,2017,HU,32.6N,31.5W,85,970,NaN,NaN
52104,AL172017,OPHELIA,20171014,2017,HU,33.4N,29.7W,95,963,NaN,NaN
52105,AL172017,OPHELIA,20171014,2017,HU,34.2N,27.7W,100,959,NaN,NaN
52106,AL172017,OPHELIA,20171014,2017,HU,35.3N,25.2W,100,959,NaN,NaN
52107,AL172017,OPHELIA,20171015,2017,HU,36.4N,22.6W,95,959,NaN,NaN
52108,AL172017,OPHELIA,20171015,2017,HU,37.9N,19.8W,90,959,NaN,NaN
52109,AL172017,OPHELIA,20171015,2017,HU,39.9N,17.0W,85,959,NaN,NaN
52110,AL172017,OPHELIA,20171015,2017,HU,43.1N,14.3W,80,959,NaN,NaN
52125,AL182017,PHILIPPE,20171028,2017,TS,21.3N,82.4W,35,1000,NaN,NaN
52126,AL182017,PHILIPPE,20171028,2017,TS,22.2N,81.6W,35,1000,NaN,NaN
52139,AL192017,RINA,20171107,2017,TS,30.0N,50.0W,35,1008,NaN,NaN
52140,AL192017,RINA,20171107,2017,TS,30.8N,49.9W,40,1006,NaN,NaN
52141,AL192017,RINA,20171107,2017,TS,31.8N,49.5W,40,1004,NaN,NaN
52142,AL192017,RINA,20171107,2017,TS,33.0N,49.1W,40,1002,NaN,NaN
52143,AL192017,RINA,20171108,2017,TS,34.6N,48.7W,45,999,NaN,NaN
52144,AL192017,RINA,20171108,2017,TS,36.4N,48.7W,50,996,NaN,NaN
52145,AL192017,RINA,20171108,2017,TS,38.3N,48.8W,45,994,NaN,NaN
52146,AL192017,RINA,20171108,2017,TS,40.1N,49.0W,45,992,NaN,NaN
52147,AL192017,RINA,20171109,2017,TS,41.8N,48.8W,45,991,NaN,NaN

In [10]:
# hurricane_df_max = hurricane_df_clean.reset_index()
hurricane_df_max_grouped = hurricane_df_clean.iloc[hurricane_df_clean.reset_index().groupby(['Name'])["Windspeed"].idxmax()]
hurricane_df_max_grouped.head(5)

,Storm_Id,Name,Date,Year,Status,Latitude,Longitude,Windspeed,Pressure,Start Date,End Date
46325,AL012006,ALBERTO,20060612,2006,TS,26.8N,86.3W,60,1000,NaN,NaN
44739,AL012004,ALEX,20040805,2004,HU,38.5N,66.0W,105,957,NaN,NaN
46129,AL262005,ALPHA,20051023,2005,TS,17.3N,69.6W,45,1000,NaN,NaN
44120,AL012003,ANA,20030421,2003,TS,31.4N,66.4W,50,995,NaN,NaN
49903,AL012013,ANDREA,20130606,2013,TS,27.8N,84.9W,55,995,NaN,NaN

# Strength of Storms

In [ ]:
# Line graph to show average strength of storms over the years

# Storm Characteristics

# Most Dangerous Cities in Relationship to Storms

# Hurricane Season

# Storm Duration